.sidebar {
    width: 25%;
    position: fixed;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  .side {
    justify-content: right;
  }
  
  .top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-container {
    position: relative;
  }
  
  .filter-btn,
  .share-btn {
    background-color: white;
    border: 1px solid gray;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  .share-btn:hover {
    background-color: #e0e0e0; /* Slightly darker shade */
    transition: background-color 0.2s ease-in-out;
  }
  
  
  .dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid gray;
    list-style: none;
    padding: 5px 0;
    width: 150px;
  }
  
  .dropdown li {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }
  
  /* Status Box */
  .status-box { 
    width: fit-content;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .status-btn {
    background-color: white;
    border: 1px solid rgb(198, 194, 194);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    text-align: center;
  }
  
  .status-btn:hover {
    background-color: #f5f5f5;
  }
  .greybox {
    display: flex;
    justify-content: center;
    gap: 7px;
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 8px;
    width:max-content;
    margin: auto;
  }
  
  .display-btn {
    padding: 5px 10px;
    border:#f9f9f9;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .display-btn.selected {
    background: white;
    font-weight: bold;
  }
  
  
  

